<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.mapper.UserMapper">
    <resultMap id="userMap" type="mybatis.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userMail" column="user_mail"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 通过id查询 -->
    <select id="selectById" resultMap="userMap">
        select * from sys_user
        where id = #{id}
    </select>
    <!-- 查询所有用户 -->
    <select id="selectAll" resultType="SysUser">
        select
            id,
            user_name,
            user_password,
            user_info,
            user_mail,
            head_img,
            create_time
        FROM
            sys_user
    </select>

    <select id="selectRoleByUserId" resultType="SysRole">
        SELECT
            t.id,
            t.role_name,
            t.enabled,
            t.create_by,
            t.create_time,
            su.user_name as 'user.userName',
            su.user_info as 'user.userInfo'
        from sys_role t
            join sys_user_role sur on sur.role_id = t.id
            join sys_user su on sur.user_id = su.id
        where su.id = #{userId}
    </select>
    <!-- 插入 -->
    <insert id="insert">
        insert into sys_user
        values(
        #{id},
        #{userName},
        #{userPassword},
        #{userMail},
        #{userInfo},
        #{headImg},
        #{createTime,jdbcType=DATE}
        )
    </insert>
    <!-- 插入返回主键 -->
    <insert id="insert2">
        insert into sys_user
        values(
            #{id},
            #{userName},
            #{userPassword},
            #{userMail},
            #{userInfo},
            #{headImg},
            #{createTime}
        )
        <selectKey resultType="Long" keyProperty="id" keyColumn="id" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>
    <!-- 修改 -->
    <update id="update">
        update sys_user
          set user_name=#{userName},
              user_info=#{userInfo},
              user_mail=#{userName},
              user_password=#{userPassword},
              create_time=#{createTime}
        where id=#{id}
    </update>
    <!-- 删除 -->
    <delete id="deleteById" >
        delete from sys_user where id=#{id}
    </delete>
</mapper>