<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties resource="jdbc.properties"/>-->
    <settings>
        <!-- 指定使用log4j输出日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 下划线数据库列映射到java驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>
    <typeAliases>
        <package name="mybatis.model"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED" >
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.117.130:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 复杂配置，每有一个配置文件就需在此配置一次
        <mapper resource="mybatis/mapper/CountryMapper.xml"/>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/UserRoleMapper.xml"/>
        <mapper resource="mybatis/mapper/RoleMapper.xml"/>
        <mapper resource="mybatis/mapper/RolePrivilegeMapper.xml"/>
        <mapper resource="mybatis/mapper/PrivilegeMapper.xml"/>-->
        <!-- 包配置 -->
        <package name="mybatis.mapper"/>
    </mappers>
</configuration>